.favorites-page {
  font-size: var(--fs-base); 
}

.favorites-title{
  color: #122C4D; 
  margin-bottom: 1.2rem;
  font-size: var(--fs-xl);
}

.favorites-page p {
  color: var(--color-info);
  font-size: var(--fs-base);
}
  
.go-back-btn {
  background-color: var(--primary-color);
  color: var(--background);
  border: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
  
.favorites-grid {
  display: grid;
  gap: 1rem;
  justify-content: start;
  grid-template-columns: 
  repeat(auto-fill, minmax(300px, 1fr));
}


/* === RESPONSIVE === */
@media (min-width:768px){
  .favorites-grid{
    justify-content: start;
  }
}




  