.product-details {
  margin: 2.5rem 1rem;
  background-color: var(--white-color);
  padding: 2.5rem 1.2rem;
  animation: fadeIn 0.3s ease-in-out;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.product-continue-shopping {
  padding: 1rem 0rem;
  margin-bottom: 0.5rem;
  background: none;
  border: none;
  font-size: var(--fs-md);
  color: #003366;
  cursor: pointer;
  will-change: transform;
  transition: all .3s ease-in-out;
}

.product-continue-shopping:hover{
  transform:translateX(5px);
}

.product-details-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-content: center;
  margin-bottom: 4rem;
}

.image-container {
  border-radius: 1rem;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  width: 100%;
  justify-self: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-image{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.product-text {
  width: 100%;
}

.product-details h1 {
  color: #003366;
  margin-bottom: 0.8rem;
  font-size: var(--fs-lg);
  font-weight: 700;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}



@media (min-width: 768px){
  .product-details{
    padding: 2.5rem 2rem;
  }

  .image-container{
    padding: 4rem;
  }
}


@media (min-width: 1024px) {
  .product-details-content {
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    margin-inline: 4rem;
  }

  .product-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


@media (min-width:1280px){
  .image-container{
    flex: 65%;
    width: initial;
  }
}