.content{
  padding: 1rem;
}

.container {
  place-content: center;
  text-align: center;
  background-size:cover; 
  background-position: center center; 
  background-attachment: unset;
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../../../assets/homeauth.jpg');
  color: var(--white-color);
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.title {
  font-size: var(--fs-3xl);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 0.8rem;
}

.description {
  font-size: var(--fs-md);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 2.5rem;
}

.button {
  padding: 1rem 2rem;
  font-size: var(--fs-base);
  background-color: var(--white-color);
  color: #121212;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e1e1e1;
}