.cart-page{
  margin: 4.5rem 1rem;
  min-height: 50vh;
}

.cart-title{
  text-align: center;
  font-size: var(--fs-xl);
  margin-bottom: 1rem;
  color: #122C4D; 
}

.continue-shopping{
  font-size: var(--fs-base);
  border: none;
  padding: 0rem;
  outline: none;
  color: #084275;
  transition: transform 0.3s ease, color 0.3s ease;
}

.cart-page p[role="alert"] {
  color: var(--color-info);
  font-size: var(--fs-base);
}

.continue-shopping:hover{
  color: #0A5AA1;
  transform: translateX(-0.4rem); 
}

.continue-shopping:focus,
.continue-shopping:active,
.continue-shopping:hover{
  border: none;
  outline: none;
} 


@media (min-width:1024px){
  .cart-page{
    margin: 6rem 4rem;
  }
}