.subtitle {
  text-align: center;
  color: #122C4D; 
  font-size: var(--fs-2xl);
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.list {
  display: grid;
  justify-content: center;
  grid-template-columns: 
  repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 0 2rem;
}


/* === RESPONSIVE === */
@media (min-width: 1024px) {
  .list {
    grid-template-columns: 
    repeat(auto-fit, minmax(300px, 1fr));
  }
}