.summaryItem {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-base);
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

/*.shipping-summary,*/
.finalTotal {
  color: #4a4a4a;
  display: flex;
  font-size: var(--fs-base);
  margin-bottom: 1rem;
  justify-content: space-between;
}

/*.finalTotal {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}*/

.value {
  font-size: var(--fs-base);
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 500;
}