.container {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.username {
  color: var(--neutral-500);
  font-family: var(--font-header);
  font-size: var(--fs-base);
}

.email {
  font-size: var(--fs-base);
  color: var(--neutral-500);
  font-weight: 400;
  margin: 0;
}

.infoContainer {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


