.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  position: relative;
  background: var(--white-color);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  max-width: 100%;
  width: 80%;
}


/* === RESPONSIVE === */
@media (min-width: 375px) {
  .content {
    max-width: 360px;
  }
}

@media (min-width: 480px) {
  .content {
    max-width: 440px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .overlay {
    align-items: center;
  }
}

@media (min-width: 768px) {
  .content {
    max-width: 520px;
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .content {
    max-width: 560px;
    padding: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .content {
    max-width: 600px;
  }
}

@media (min-height: 800px) {
  .content {
    max-height: 85vh;
  }
}

@media (max-height: 600px) and (orientation: landscape) {
  .content {
    max-height: 90vh;
    margin: 0.5rem;
    padding: 1rem;
  }
}