.footer {
  background-color: var(--neutral-100);
  font-size: var(--fs-sm);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.footer-content-principal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.logo-name {
  font-size: var(--fs-lg);
}

input[type="email"] {
  font-size: var(--fs-sm);
}

button[type="submit"] {
  font-size: var(--fs-sm);
}
  
.footer-logo img {
  max-width:2rem; 
  height: auto;
}
  
.footer-logo p {
  margin-top: 1rem;
  font-size: var(--fs-sm);
  color: var(--neutral-700);
}
  
.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: var(--fs-sm);
}
  
.footer-links ul li {
  margin: 0.75rem 0;
}
  
.footer-links ul li a {
  text-decoration: none;
  color: var(--neutral-700);
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}
  
.footer-links ul li a:hover {
  color: var(--primary); 
}

.footer-subtitle {
  font-size: var(--fs-md);
  margin-bottom: 0.8rem;
  color: var(--neutral-900);
  font-weight: 600;
}
  
.footer-subscribe form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  max-width: 100%;
  width: 100%;
}
  
.footer-subscribe input {
  padding: 1rem;
  font-size: var(--fs-base);
  border: 1px solid #7fa1c7;
  width: 100%;
  border-radius: 1rem;
  background-color: transparent;
  transition: border 0.3s ease-in-out;
}
  
.footer-subscribe input:hover,
.footer-subscribe input:active,
.footer-subscribe input:focus {
  outline: none;
  border: 1px solid var(--primary);
}
  
.footer-subscribe button {
  width: 100%;
  padding: 1rem;
  font-size: var(--fs-base);
  background-color: var(--primary);
  border-radius: 1rem;
  color: var(--background);
  transition: background-color 0.3s ease-in-out;
}
  
.footer-subscribe button:hover {
  background-color: var(--primary-dark);
}
  
.footer-payment {
  margin-top: 2rem;
}
  
.footer-payment img {
  height: auto;
}
  
.footer-contact {
  margin-top: 2rem;
  font-size: var(--fs-sm);
}
  
.footer-contact p {
  margin: 0.5rem 0;
  color: var(--neutral-700);
}
  
.footer-social {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.footer-social-list{
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
  
.social-icon {
  text-decoration: none;
  color: var(--neutral-700);
  font-size: var(--fs-lg);
  transition: color 0.3s ease-in-out;
}
  
.social-icon:hover {
  color: var(--primary); 
}

.payment-logos {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
  
.payment-logo {
  width: 2.5rem;
  height: 30px;
  border-radius: 0.5rem;
  object-fit: contain;
}

.footer-rights{
  font-size: var(--fx-xs);
  color: var(--neutral-700);
  border-top: 1px solid var(--neutral-300);
  padding-top: 1.3rem;
  text-align: center;
  margin-top: 4rem;
}

.footer-side-content{
  margin-bottom:1rem;
}


/* === RESPONSIVE === */
@media (min-width:768px){  
  .footer-content-principal{
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 6rem;
  }

  .footer-side-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.2rem;
  }

  .footer-payment {
    margin-top: 0rem;
  }

  .footer-social{
    margin-top: 0rem;
  }

  .footer-contact {
    margin-top: 0rem;
  }

  .footer-logo{
    max-width: 35%;
  }
}

@media (min-width:1023px) {
  .footer {
    display: initial;
  }
}

  