.list {
  display: grid;
  justify-content: center;
  grid-template-columns: 
  repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}


/* === RESPONSIVE === */
@media (min-width: 768px) {
  .list {
    grid-template-columns: 
    repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (min-width:1280px){
  .list {
    grid-template-columns: 
    repeat(auto-fill, minmax(300px, 1fr));
  }
}
