.container {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: var(--neutral-50);
  border-radius: 1rem;
  border: 1px solid var(--neutral-300);
}

.avatarWrapper {
  position: relative;
  flex-shrink: 0;
}

.avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--primary-light);
  background-color: var(--background);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.username {
  color: var(--neutral-900);
  font-family: var(--font-header);
  font-weight: 700;
  font-size: var(--fs-md);
  margin: 0;
}

.email {
  font-size: var(--fx-xs);
  color: var(--neutral-500);
  font-weight: 400;
  margin: 0;
}

/* === RESPONSIVE === */
@media (min-width: 375px) {
  .email {
    font-size: var(--fs-sm);
  }

  .avatar {
    width: 4.5rem;
    height: 4.5rem;
  }
}
@media (min-width: 480px) {
  .avatar {
    width: 6rem;
    height: 6rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 2rem;
  }

  .email {
    font-size: var(--fs-base);
  }
}