.navbar {
  height:3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  color: var(--background);
  background-color: var(--neutral-50);
  font-size: var(--fs-sm);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
} 

.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -0.31rem;
  right: -10px;
  background-color: #FF3B30;
  color: var(--background);
  font-size: var(--fx-xs);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.profile-container {
  position: relative;
}

.profile-menu {
  position: absolute;
  top: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  left: -50%;
  transform: translateX(-50%);
  background: var(--background);
  padding: 1rem 1.4rem;
  min-width: 130px;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.link {
  font-size: var(--fs-base);
  color: var(--neutral-900); 
  font-weight: 500; 
  transition: color .25s ease;
}

.link:hover {
  color: var(--primary);
}

a {
  color: var(--neutral-900);
}

.navbar-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icon-link {
  font-size: var(--fs-lg);
  color: var(--neutral-900);
  display: flex;
  padding: 0;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent; /* quita el flash azul en móviles */
  transition: color .3s ease;
}

.icon-link:hover {
  color:var(--primary);
}

.icon-link:focus,
.icon-link:active {
  outline: none;
}

.icon-wrapper.profile-avatar{
  outline: none;
  width: var(--fs-lg);
  height: var(--fs-lg);
}

.icon-wrapper.profile-avatar:focus,
.icon-wrapper.profile-avatar:active,
.icon-wrapper.profile-avatar:hover {
  outline: none;
}

.icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  position: absolute;
  top: 170%; 
  right: -5.2rem;
  display: flex;
  align-items: center;
  background-color: var(--background);
  border-radius: 8px;
  padding: 6px 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: 15rem;
  animation: fadeIn 0.3s ease;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 6px 8px;
  font-size: var(--fs-sm);
  border-radius: 6px;
  background-color: var(--bg-color);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.avatar-image{
  transition: opacity .3s ease-in-out, filter 0.3s ease-in-out;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
  position: relative;
}

.icon-wrapper.profile-avatar{
  transition: all .3s ease-in-out;
  position: relative;
  width: 1.65rem;
  height: 1.65rem;
  transition: border .3s ease-in-out;
  outline: none;
  border-radius: 50%;
  overflow: hidden;
  border: 1.5px solid var(--neutral-900);
}

.icon-wrapper.profile-avatar:hover{
  border: 1.5px solid var(--primary); 
}

.profile-avatar:hover .avatar-image {
  opacity: 0.85; 
  filter: brightness(1.1); 
}

.logo-name:focus,
.logo-name:active{
  outline: none;
}

.close-search {
  font-size: var(--fs-md);
  z-index: 104;
  padding: 0;
  will-change: transform;
  color: #888;
  margin-left: 0.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.close-search:hover {
  color: var(--primary);
  transform: rotate(180deg);
}

.logout-btn{
  background-color: var(--primary);
  color: var(--background);
  display: flex;
  font-size: var(--fs-base);
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color .3s ease-in-out;
}

.logout-btn:hover{
  background-color: var(--primary-dark);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.logo {
  max-width: 1.8rem;
  height: auto;
}

.nav-icons a {
  font-size: var(--fs-md);
}

.nav-toggle {
  cursor: pointer;
  padding: 0;
  color: var(--neutral-900);
  font-size: var(--fs-lg);
  transition: color .3s ease-in-out;
  background-color: transparent;
}

.nav-toggle:hover{
  color: var(--primary);
}

.navbar-link {
  color: var(--neutral-900);
  font-size: var(--fs-base);
  transition: color .3s ease, transform .3s ease;
}

.navbar-link:hover{
  color: var(--primary); 
  transform: translateX(4px); 
}

.navbar-link.sign{
  font-size: var(--fs-base);
  background-color: var(--primary);
  color: var(--background);
  gap: 0.5rem;
  border-radius: 0.6rem;
  padding: 0.7rem 1.6rem;
  display: inline-flex;
  transition: background-color .3s ease-in-out, transform .3s ease-in-out;
}

.navbar-link.sign:hover{
  background-color: var(--primary-dark);
  transform: inherit;
}

.navbar-link{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-menu {
  position: fixed;
  top: 0;
  width: 72%;
  will-change: transform, opacity;
  max-width: 100%;
  height: 100vh;
  z-index: 200;
  transform: translateX(-100%);
  background-color: var(--neutral-100);
  padding: 2rem;
  pointer-events: none;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity .3s ease-in-out;  
}

.navbar-menu.show {
  transform: translateX(0);
  opacity: 1;
  z-index: 200;
  pointer-events: auto;
}

.navbar-list {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  font-size: var(--fs-md);
}

.logo-name{
  color: var(--neutral-900);
  gap: 0.5rem;
  font-weight: 600;
  font-size: var(--fs-base);
  transition: color .3s ease-in-out;
}

.logo-name:hover{
  color: var(--primary);
}

.nav-close {
  position: absolute;
  top: 0.8rem;
  padding: 0;
  left: 1rem;
  background-color: transparent;
  color: var(--neutral-900);
  font-size: var(--fs-lg);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 199;
  will-change: visibility, opacity;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;  
  pointer-events: none;
}

.menu-overlay.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


/* === RESPONSIVE === */
@media screen and (max-width:320px) {
  .container {
    margin-inline: 1rem;
  }
}

@media (min-width: 340px) {
  .navbar-menu {
    width: 65%;
  }
}

@media (min-width:412px){
  .navbar-menu{
    width: 58%;
  }
}

@media (min-width: 768px) {
  .nav-close {
    top: 1rem;
    left: 2.5rem;
  }

  .navbar-menu{
    width: 50%;
  }

  .navbar-list{
    margin-left: 3rem;
  }

  .search-container {
    top: 180%; 
    right: -6rem;
    width: 20rem;
  }

  .navbar-icons{
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .nav-close {
    top: 1rem;
    left: 3rem;
  }

  .navbar {
    height: calc(3.5rem + 1.5rem);
  }

  .navbar-list{
    margin-left: 2rem;
  }

  .navbar-menu {
    width: 20rem;
  }

  .icon-wrapper.profile-avatar{
    width: 1.9rem;
    height: 1.9rem;
  }
}

@media screen and (min-width:1150px) {
  .container {
    margin-inline: auto;
  }
}