.container {
  display: flex;
  text-align: start;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.container label {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--color-info);
  margin-bottom: 0.5rem;
} 

.input {
  background-color: var(--white-color);
  padding: 0.6rem 0.8rem;
  border: 1px solid var(--border-color);
  color: #222;
  border-radius: 8px;
  font-size: 1rem;
}

.error {
  color: #ff4d4d;
  margin-top: 0.5rem;
  font-size: var(--fs-sm);
}