.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card {
    background: var(--background);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-md);
    text-align: center;
    max-width: 100%;
    width: clamp(350px, 50vw, 550px); 
    color: var(--neutral-900);
    margin: 1rem auto;
    transition: 0.3s;
}

.form-header {
    margin-bottom: 1.5rem;
}

.form-header h1 {
    font-size: var(--fs-lg);
    color: var(--neutral-900);
    margin-bottom: 0.5rem;
}

.form-header h1 span {
    color: var(--secondary);
}

.login-description {
    font-size: var(--fs-sm);
    margin-bottom: 1rem;
    color:var(--neutral-700);
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 1rem;
    border: 1.5px solid #D1D1D1;
    border-radius: 0.6rem;
    background: var(--neutral-50);
    color: var(--text-color);
    font-size: var(--fs-base); 
    outline: none;
    transition: all 0.3s ease;
    margin-top: 0.2rem;
}

.input-group input::placeholder{
    font-size: var(--fs-sm); 
}

.input-group input:focus {
    border: 1.5px solid var(--primary);
}

.sr-only {
    position: absolute; 
    width: 1px;         
    height: 1px;       
    padding: 0;
    margin: -1px;       
    overflow: hidden;      
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0; 
}

.error {
    color: var(--error);
    font-size: var(--fx-xs);
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.error-message {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--error);
    font-size: var(--fx-xs);
    margin-top: 0.4rem;
}

.form-btn {
    width: 80%;
    padding: 1rem;
    background: var(--primary);
    color: var(--background);
    font-size: var(--fs-base);
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.6rem;
    transition: background 0.3s ease-in-out;
    margin-top: 1rem;
}

.form-btn:hover {
    background: var(--primary-dark);
}

.form-text {
    margin-top: 1.5rem;
    color: var(--neutral-700);
    font-size: var(--fs-sm);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

.form-text a {
    font-size: var(--fs-sm);
    color: var(--primary);
    font-weight: bold;
    transition: text-decoration .25s ease;
}

.form-text a:hover {
    text-decoration: underline;
}


/* === RESPONSIVE === */
@media (min-width: 768px) {
    .form-card {
        padding: 2rem 2.5rem;
    }
}

@media (min-width: 1024px) {
    .form-btn {
        width: 70%;
    }
}

