.home-public{
  place-content: center;
}

/** HERO SECTION **/
.hero-public {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url(../../assets/homepub.jpg);
  background-size: cover; 
  background-position: 75% ; 
  background-attachment: scroll;
  min-height: 100vh; 
  place-content: center;
  position: relative;
  padding: 1rem;
  background-repeat: no-repeat;
  color: var(--white-color); 
  margin: 2rem auto; 
  transition: background-image 0.5s ease-in-out; 
}

.hero-public-content {
  max-width: 100%; 
  margin: 3rem 1rem;
  border-radius: 1rem;
}

.hero-public-title {
  font-size: var(--fs-3xl);  
  margin-bottom: 1rem;
}

.hero-public-description {
  font-size: var(--fs-lg); 
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.hero-public-title,
.hero-public-description {
  will-change: opacity, transform;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.cta-btn-hero {
  background-color: #FF5722;
  color: var(--white-color);
  padding: 1rem 1.5rem;
  font-size: var(--fs-md); 
  font-weight: 600;
  text-decoration: none;
  border-radius: 2.5rem;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.arrow-icon {
  opacity: 0;
  display: flex;
  align-items: center;
  font-size: var(--fs-lg);
  transform: translateX(-10px) scale(0.8);
  transition: 
  opacity 0.3s ease,
  transform 0.4s cubic-bezier(0.22, 1, 0.36, 1), 
  margin-left 0.3s ease;
}

.cta-btn-hero:hover {
  background-color: #FF7A45;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.cta-btn-hero:hover .arrow-icon {
  opacity: 1;
  margin-left: 0.5rem;
  transform: translateX(0) scale(1);
}

.hero-stats{
  display: grid;
  gap: 1rem;
  margin: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.stat-item{
  background: rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  text-align: center;
  padding: 1.2rem;
  transition: all .3s ease-in-out;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
}

.stat-item:hover{
  border: 1.5px solid #FFB38A;
}

.stat-item h3 {
  font-size: var(--fs-xl);
  font-weight: bold;
  color:#FF9A66;
  margin-bottom: 0.2rem;
}

.stat-item p {
  font-size: var(--fs-sm);
}

/** FEATURED PRODUCTS SECTION **/
.featured-products {
  padding: 4rem 1rem;
  margin-bottom: 2.5rem;
  position: relative;
}
  
.featured-products-title {
  font-size: var(--fs-2xl);
  text-align: center;
  margin-bottom: 2.5rem;
  font-weight: bold;
  color: #1C2A3D;
}
  
.product-list-public {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch; 
  padding-bottom: 1rem; 
}
  
.product-card-public {
  flex: 0 0 100%;
  max-width: 100%;    
  background-color: var(--white-color);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  position: relative;
  border: 1px solid transparent;
  scroll-snap-align: start; 
}

/* Oculta el scrollbar en todos los navegadores */
.product-list-public::-webkit-scrollbar {
  display: none;
}

.product-list-public {
  -ms-overflow-style: none;  /* Para IE y Edge */
  scrollbar-width: none;  /* Para Firefox */
}

.product-card-public:hover{
  border: 1px solid var(--primary-color); 
}

.price-discount-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.discount-label{
  font-size: var(--fs-xs);
  position: absolute;
  top: 0.6rem;
  left: 0.5rem;
  background-color: #FF4E2E;
  color: var(--white-color);
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
}

.original-price-public {
  font-size: var(--fs-sm);
  text-decoration: line-through;
  color: #888;
  font-weight: 500;
  margin-right: 0.3rem;
}
  
.product-image-public {
  width: 60%;
  display: inline-flex;
  align-self: center;
  aspect-ratio: 1 / 1; 
  object-fit: contain; 
  margin-bottom: 1rem;
}
  
.featured-products-subtitle {
  font-size: var(--fs-md);
  font-weight: 600;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  margin-bottom: 0.8rem;
}
  
.featured-products-description,
.discounted-price-public {
  font-size: var(--fs-base);
  color: var(--primary-color);
}

.discounted-price-public {
  font-weight: 800;
}
  
.cta-btn-product-public {
  font-size: var(--fs-sm);
  color: var(--primary-color);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.arrow-icon-public {
  opacity: 0;
  display: flex;
  align-items: center;
  font-size: var(--fs-base);
  transform: translateX(-10px) scale(0.8);
  transition: 
  opacity 0.4s ease-in-out,
  transform 0.5s cubic-bezier(0.22, 1, 0.36, 1), 
  margin-left 0.4s ease-in-out;
}
   
.cta-btn-product-public:hover .arrow-icon-public {
  opacity: 1;
  margin-left: 0.5rem;
  transform: translateX(0) scale(1);
  transition: 
  opacity 0.5s ease-in-out,
  transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
  margin-left 0.5s ease-in-out;  
}

.featured-info{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-all-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
  
.view-all-products {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--white-color);
  padding: 1rem 1.5rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: var(--fs-base);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 12px rgba(34, 114, 255, 0.4);
  position: relative;
  overflow: hidden;
  z-index: 0;
}
  
.view-all-products::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  transition: width 0.3s ease-in-out;
  z-index: -1;
}
  
.view-all-products:hover::after {
  width: 100%;
}
  
.view-all-products:hover {
  color: var(--primary-color);
}

/** BENEFITS SECTION **/
.benefits {
  padding: 2rem 1rem;
  background-color: var(--white-color);
  margin-bottom: 2.5rem;
}
  
.benefits-title {
  font-size: var(--fs-2xl);
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #333;
}
  
.benefit-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,
  minmax(250px, 1fr));
  justify-content: center;
  gap: 2rem;
}
  
.benefit-card {
  background-color: var(--white-color);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all .3s ease-in-out;
}

.benefit-card:hover{
  transform: translateY(-0.6rem);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.benefit-icon {
  font-size: var(--fs-2xl);
  color: var(--primary-color);
  margin-bottom: 10px;
}

.benefits-subtitle {
  font-size: var(--fs-lg);
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-weight: bold;
}
  
.benefits-description {
  font-size: var(--fs-base);
  color: #666;
}

/** AUTH SECTION **/
.auth-section {
  background-color: var(--white-color);
  padding: 4rem 1rem;
  text-align: center;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
  
.auth-content{
  margin-bottom: 1rem;
}

.auth-image-container{
  border-radius: 50%;
  background-color: #1a5db7;
  width: clamp(14rem, 40vw, 25rem);
  aspect-ratio: 1 / 1;
  object-fit: contain;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.auth-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
    
.auth-section-title {
  font-size: var(--fs-2xl);
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #333;
}
  
.auth-section-description {
  font-size: var(--fs-base);
  margin-bottom: 2rem;
  color: #666;
}
  
.auth-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
  
.cta-btn-auth {
  display: inline-flex;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-decoration: none;
  border-radius: 1rem;
  font-size: var(--fs-base);
  font-weight: 700;
  text-transform:uppercase;
  transition: all 0.3s ease-in-out;
}
  
.cta-btn-auth:hover {
  background-color: #1a5db7; 
  transform: scale(1.05); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}



@media (min-width: 768px) {
  .hero-public-content{
    margin: 3rem 1rem;
  }

  .cta-btn-hero {
    padding: 1rem 1.5rem;
  }

  .hero-stats{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0rem 1.5rem;
  }

  .stat-item h3 {
    font-weight: bold;
    margin-bottom: 0.2rem;
  }

  .hero-content{
    display: flex;
    flex-direction: column;
    padding: 1.8rem;
  }

  /**---**/

  .featured-products {
    padding: 3rem 2rem;
  }
  
  .cta-btn-product {
    font-size: 1.2rem;
    padding: 1.2rem 2.5rem;
  }

  .featured-info{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: initial;
    justify-content: space-between;
    align-items: center;
  }

  .product-card-public{
    max-width: 60%;  
    flex: 0 0 55%;  
  }

  /**---**/

  .benefits {
    padding: 3rem 2rem;
  }

  /**---**/
  
  .cta-btn-auth {
    padding: 1.2rem 2.5rem;
  }
}


@media (min-width: 1024px) {
  .hero-public{
    background-position: top; 
  }

  .cta-btn-hero {
    padding: 1rem 1.6rem;
  }

  /**---**/

  .featured-products {
    padding: 4rem 3rem;
  }
  
  .cta-btn-product {
    font-size: 1.3rem;
    padding: 1.2rem 3rem;
  }

  .product-card-public{
    max-width: 50%;  
    flex: 0 0 40%;  
  }

  /**---**/

  .benefits {
    padding: 4rem 3rem;
  }

  /**---**/

  .auth-section {
    padding: 3rem 3.5rem;
    flex-direction: row;
    text-align: start;
  }
  
  .cta-btn-auth {
    padding: 1.2rem 3rem;
  }

  .auth-buttons {
    display: flex;
    justify-content: start;
    gap: 1rem;
  }
}


@media (min-width: 1280px){  
  .product-card-public{
    max-width: 45%;  
    flex: 0 0 35%;  
  }
}


@media (min-width:1366px){
  .hero-public-content{
    max-width: 60%; 
  }

  .cta-btn-hero {
    padding: 1rem 1.6rem;
  }
}


@media (min-width:1920px){
  .hero-public-content{
    max-width: 65%;
  }

  .cta-btn-hero {
    padding: 1rem 1.6rem;
  }

  /**---**/

  .product-card-public{
    max-width: 45%;  
    flex: 0 0 30%;  
  }
}
