.container {
  padding: 0.7rem 1rem;
}

.item{
  margin-top: 1.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item p {
  color: var(--text-color);
  font-size: var(--fs-base);
}

.text {
  color: var(--neutral-900);
  font-size: var(--fs-base);
  font-weight: 500;
}

.link {
  color: var(--neutral-700);
  padding: 0;
  font-size: var(--fs-lg);
  display: flex;
  transition: transform .3s ease-in-out;
}

.link:hover {
  color: var(--primary);
  transform: translateX(0.25rem);
}